* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 0.5;
  margin: 10px;
  border-radius: 15px;
  color: white;
  position: relative;
  cursor: pointer;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
}
